<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:replace="${title}">我的收藏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="${#httpServletRequest.getScheme()}+'://'+${#httpServletRequest.getServerName()}+':8080/static/css/index.css'" rel="stylesheet" href="../static/css/index.css">
    <link th:href="${#httpServletRequest.getScheme()}+'://'+${#httpServletRequest.getServerName()}+':8080/static/css/nav.css'" rel="stylesheet" href="../static/css/nav.css">
    <link th:href="${#httpServletRequest.getScheme()}+'://'+${#httpServletRequest.getServerName()}+':8080/static/css/font-awesome.min.css'" rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link th:href="${#httpServletRequest.getScheme()}+'://'+${#httpServletRequest.getServerName()}+':8080/static/dist/css/adminlte.min.css'" rel="stylesheet" href="../static/dist/css/adminlte.min.css">
    <!-- Font Awesome -->
    <link th:href="${#httpServletRequest.getScheme()}+'://'+${#httpServletRequest.getServerName()}+':8080/static/plugins/fontawesome-free/css/all.min.css'" rel="stylesheet" href="../static/plugins/fontawesome-free/css/all.min.css">

    <link th:href="${#httpServletRequest.getScheme()}+'://'+${#httpServletRequest.getServerName()}+':8080/static/css/bootstrap.min.css'" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!--引入icon-->
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

</head>
<body>

<!--导航-->
<nav th:fragment="nav(n,subjects,user,query)" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <!--  Logo -->
    <a  th:href="@{/}" class="brand-link">
        <img th:src="@{/images/logo.jpg}" src="../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">小Q课堂</span>
    </a>
    <!--手机屏幕显示汉堡按钮-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <li th:classappend="${n==-100}?'active'" class="nav-item ">
                <a  th:href="@{/}" class="nav-link" href="#">首页</a>
            </li>
            <li th:classappend="${oneSubject.id==oneId}?'active'"  th:each="oneSubject:${subjects}" class="nav-item">
                <a th:href="@{/subject/}+${oneSubject.id}" th:text="${oneSubject.name}" class="nav-link" href="#">JAVA</a>
            </li>
            <li th:classappend="${n==-99}?'active'" class="nav-item">
                <a th:href="@{/archive}" class="nav-link" href="#">归档</a>
            </li>
        </ul>
        <div  class="nav-right">
            <div class="search">
                <form  method="post" action="/search" class="form-inline ">
                    <input th:value="${query}" name="query" class="form-control mr-sm-2" type="search" placeholder="课程名称" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
            <div class="login">
                <ul th:switch="${#bools.isTrue(user)}" class="nav navbar-nav ">
                    <li th:case="false"  class="dropdown ">
                        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            登录
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLogin">
                            <a class="dropdown-item" th:href="@{/loginByQQ}+'?uri='+${#httpServletRequest.requestURI}">QQ登录</a>
                        </div>
                    </li>
                    <li th:case="true" class="dropdown ">
                        <a href="#" role="button" id="dropdownImg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:src="${#httpServletRequest.getScheme()}+'://'+${#httpServletRequest.getServerName()}+':8080'+${user.avatar}" src="../static/images/-200.jpeg" alt="用户头像" class="uImage">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownImg">
                            <a th:href="@{/user/info/find}" class="dropdown-item" target="_blank" href="#">个人中心</a>
                            <a th:href="@{/logout}" class="dropdown-item" href="#">退出</a>
                            <a th:if="${user.flag==1}" th:href="@{/admin/index/findAllBanner}" class="dropdown-item" href="#">后台管理</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<th:block th:fragment="script">
    <script th:src="${#httpServletRequest.getScheme()}+'://'+${#httpServletRequest.getServerName()}+':8080/static/js/jquery.min.js'" src="../static/js/jquery.min.js"></script>
    <script th:src="${#httpServletRequest.getScheme()}+'://'+${#httpServletRequest.getServerName()}+':8080/static/js/bootstrap.bundle.min.js'" src="../static/js/bootstrap.bundle.min.js"></script>
</th:block>
</body>
</html>